.container{
    position: relative;
    width: 400px;
    height: 145px;
    background: #a1a1a1;
    padding: 35px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
    margin: 100px auto;
}

.numeros{
    position: relative;
    display: flex;
    width: 49%;
    float: left;
    background: #a1a1a1;
    overflow: hidden;
    flex-direction: column;
}